<template name="recordGame">
     {{#if recording}}
        <button class="quit">Back</button>   
        <div class="selectStarters-container">
            {{> selectStarters}}
        </div>
    {{/if}}
</template>

<template name="selectStarters">
    {{#if showSelectStarters}}
        <!-- create a new player -->
        <h4>Select Game Starters</h4>
        <!-- List of all players for a team -->
        <div style="display: inline-block;">
            {{> homeTeamHeader}}
            <ul style="list-style-type: none;">
                {{#each players}}
                    {{> selectHomeStartersList}}
                {{/each}}
            </ul>
        </div>
        <div style="display: inline-block;">
            {{> awayTeamHeader}}
            <ul style="list-style-type: none;">
                {{#each players}}
                    {{> selectAwayStartersList}}
                {{/each}}
            </ul>
        </div>
    {{/if}}
</template>
