<template name="recordGame">
     {{#if recording}}
        <button class="quit">Back</button>   
        <div class="selectStarters-container">
            {{> selectStarters}}
        </div>
    {{/if}}
</template>

<template name="selectStarters">
    {{#if showSelectStarters}}
        <!-- create a new player -->
        <h4>Select Game Starters</h4>
        <!-- List of all players for a team -->
        <table style="width: 50%">
            <th>{{> homeTeamHeader}}</th>
            <th>{{> awayTeamHeader}}</th>
            <tr>
                <td align="center">
                    <ul>
                        {{#each players}}
                            {{> selectHomeStartersList}}
                        {{/each}}
                    </ul>
                </td>
                <td align="center">
                    <ul>
                        {{#each players}}
                            {{> selectAwayStartersList}}
                        {{/each}}
                    </ul>
                </td>
            </tr>
        </table>
    {{/if}}
</template>
