<template name="homeTeamControls">
	{{#if isHomeStarter}}
		<li>
			<button class="homePlayerBtn {{selectedPlayer}}">{{homePlayer.number}} {{homePlayer.name}}</button>
		</li>
	{{/if}}
</template>

<template name="gameControls">
	<div style="position: relative; left:0; top:0;">
		<img src="assets/{{courtShape}}" style="position: relative; top: 0; left: 0;"/>
		{{#if pointPicked}}
			<img src="assets/point.png" style="position: absolute; top: {{top}}px; left: {{left}}px"/>
		{{/if}}
	</div>
	<div>
		<button type="checkbox" class="makeBtn {{made}}">Make</button>
		<button type="checkbox" class="assistBtn {{assisted}}">Assist</button>
		<button type="checkbox" class="fastbreakBtn {{fastbroke}}">Fastbreak</button>
		<button type="checkbox" class="putbackBtn {{putbacked}}">Putback</button>
	</div>
	<button type="submit" class="submitShotBtn">Enter Shot</button>
	<p>{{pickPlayerMsg}}</p>
</template>

<template name="awayTeamControls">
	{{#if isAwayStarter}}
		<li>
			<button class="awayPlayerBtn {{selectedPlayer}}">{{awayPlayer.number}} {{awayPlayer.name}}</button>
		</li>
	{{/if}}
</template>

<template name="substitutions">
	<h4 style="text-align: center;">{{subbingTeam.name}}</h4>
	<form>
		<div>
			<div class="subOut" style="display: inline-block; vertical-align: top;">
				<p style="text-decoration: underline; text-align: center;">Sub out</p>
				<ul>
					{{#each starters}}
						{{> subOutList}}
					{{/each}}
				</ul>
			</div>
			<div class="subIn" style="display: inline-block; vertical-align: top;">
				<p style="text-decoration: underline; text-align: center;">Sub in</p>
				<ul style="list-style-type: none;">
					{{#each players}}
						{{> subInList}}
					{{/each}}
				</ul>
			</div>
		</div>	
		<input type="submit" name="enterSubs" value="Substitute">
	</form>
	<button name="cancelSub">Cancel</button>
</template>

<template name="subOutList">
	{{#if inGame}}
		<li><input type="radio" name="inGame" value="{{playerInfo._id}}">{{playerInfo.number}} {{playerInfo.name}}</li>
	{{/if}}
</template>

<template name="subInList">
	{{#if outOfGame}}
		<li><input type="radio" name="onBench" value="{{_id}}">{{number}} {{name}}</li>
	{{/if}}
</template>