<template name="gameDate">
    {{date}}
</template>

<template name="homeTeamHeader">
    <p><strong>Home:</strong> {{selectedHomeTeam.name}}</p>
</template>

<template name="awayTeamHeader">
    <p><strong>Away:</strong> {{selectedAwayTeam.name}}</p>
</template>

<template name="selectHomeStartersList">
    {{#if isHomeTeam}}
        <li>
            <form>
                <span class="homeStarterCount">{{homeStarterCount.count}}</span>
                <span class="playerList">{{name}} {{number}} {{position}}</span>
                <input type="submit" name="startHomePlayerIpt" value="Start">
            </form>
        </li>
    {{/if}}
</template>

<template name="selectAwayStartersList">
    {{#if isAwayTeam}}
        <li>
            <form>
                <span class="awayStarterCount">{{awayStarterCount.count}}</span>
                <span class="playerList">{{name}} {{number}} {{position}}</span>
                <input type="submit" name="startAwayPlayerIpt" value="Start">
            </form>
        </li>
    {{/if}}
</template>